<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.solvd.database.mapper.AddressNodeMapper">

    <insert id="create" parameterType="org.solvd.model.AddressNode">
        INSERT INTO addresses (id, street_address, city, country, unit)
        VALUES (#{id}, #{street_address}, #{city}, #{country}, #{unit})
    </insert>

    <select id="read" parameterType="long" resultType="org.solvd.model.AddressNode">
        SELECT * FROM addresses WHERE country = #{country} AND city = #{city} AND street_address = #{street_address} AND unit = #{unit}
    </select>

</mapper>