<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.solvd.database.mapper.AddressMapper">

    <insert id="insert" parameterType="org.solvd.model.AddressNode" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO addresses (street, city, country, unit)
        VALUES (#{street}, #{city}, #{country}, #{unit})
    </insert>

    <select id="findById" parameterType="long" resultType="org.solvd.model.AddressNode">
        SELECT * FROM addresses WHERE id = #{id}
    </select>

    <select id="findAll" resultType="org.solvd.model.AddressNode">
        SELECT * FROM addresses
    </select>

    <update id="update" parameterType="org.solvd.model.AddressNode">
        UPDATE addresses
        SET street = #{street}, city = #{city}, country = #{country}, unit = #{unit}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM addresses WHERE id = #{id}
    </delete>

</mapper>