<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.solvd.database.mapper.EdgeNodeMapper">

    <insert id="create" parameterType="org.solvd.model.EdgeNode">
        INSERT INTO edges (fromId, toId, weight, fullPath)
        VALUES (#{from}, #{to}, #{weight}, #{fullPath})
    </insert>

    <select id="read" parameterType="long" resultType="org.solvd.model.EdgeNode">
        SELECT * FROM edges WHERE fromId = #{fromId} AND toId = #{toId};
    </select>

</mapper>
