<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.solvd.database.TransportNodeMapper">

    <insert id="create" parameterType="org.solvd.model.TransportNode" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO transports (from_id, to_id, weight, full_path, busses)
        VALUES (#{from}, #{to}, #{weight}, #{fullPath}, #{busses})
    </insert>

    <insert id="createList" parameterType="org.solvd.model.TransportNode" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO transports (from_id, to_id, weight, full_path, busses)
        VALUES
        <foreach collection="list" item="edge" separator=",">
            (#{transport.from}, #{transport.to}, #{transport.weight}, #{transport.fullPath}, #{transport.busses})
        </foreach>
    </insert>

    <select id="read" parameterType="org.solvd.model.TransportNode" resultType="org.solvd.model.EdgeNode">
        SELECT * FROM transports WHERE from_id = #{from} AND to_id = #{to}
    </select>

    <update id="update" parameterType="org.solvd.model.TransportNode">
        UPDATE transports
        SET from_id = #{from}, to_id = #{to}, weight = #{weight}, full_path = #{fullPath}
        WHERE from_id = #{from} AND to_id = #{to}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM transports
        WHERE from_id = #{from} AND to_id = #{to}
    </delete>
    <resultMap id="TransportNodeResultMap" type="org.solvd.model.EdgeNode">
        <result property="from" column="from_id"/>
        <result property="to" column="to_id"/>
        <result property="weight" column="weight"/>
        <result property="fullPath" column="full_path"/>
        <result property="busses" column="busses"/>
    </resultMap>

</mapper>
